{% extends 'wrapper.html' %}
{%block title%}
Orders 
{% endblock%}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <i style="font-size: 50px;" class="fa fa-book" aria-hidden="true"></i>
    <h1 class="display-5 fw-bold">Orders</h1>
    <div class="col-lg-6 mx-auto">
      
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a class="btn btn-secondary" href="{% url 'orders_created'%}"> Orders by "created at"</a>
          <a class="btn btn-secondary" href="{% url 'orders_plated'%}"> Order by "plated_end_at"</a>
          <a class="btn btn-secondary" href="{% url 'hand_over_books'%}"> Hand over books</a>
          <a class="btn btn-secondary" href="{% url 'book_by_userId'%}"> Book by UserId</a>
        
      </div>
    </div>
  </div>
{% endblock %}