{% extends 'wrapper.html' %}

{% block title %}
    Add Order
{% endblock %}

{% block content %}
<main class="form-signin" class="text-center">
      <h1 class="h3 mb-3 fw-normal">Order</h1>
  <form method="post">
    {% csrf_token %}
      {{ form.user }}<br>
      {{ form.book }}<br>
      {{form.plated_end_at}}  {{form.end_at}} <br>
    <p></p>
    <button class="w-30 btn btn-primary" class="col-lg-2 btn btn-lg btn-secondary btn-rounded btn-sm" type="submit">Submit</button>

  </form>
  </main>


{% endblock %}
