{% extends 'wrapper.html' %}
{%block title%}
Books
{% endblock%}

{% block content %}


<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Books Catalog</h2>
    {% if books %}
    <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
        {% for book in books %}
        <div class="row g-5 border rounded overflow-hidden flex-md-row mb-0 shadow-sm h-md-250 position-relative" style="margin-right: 24px">
            <div class="col p-0 d-flex flex-column position-static">
                <h2>{{book.name}}</h2>
                <p>{{book.description}}</p>
                <a href="{% url 'book_item' book_id=book.id %}" class="mb-5">Read more</a>
            </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
    <h1>Sorry! But we don't have any books( </h1>
    {% endif %}
    <div class="row g-4 py-2 row-cols-1 row-cols-lg-6">
        <br/><a href="{% url 'create_book' %}" class= "btn btn-lg btn-secondary btn-rounded btn-sm"><small>Add new book</small></a>
    </div>
</div>

{% endblock %}